
    
   
    

img{
    border-radius: 200px;
    margin-top: 20px;
    width: 200px ;
    height: 200px;
    margin-left: 20px;
}
i{
    color: white;
    font-size: 10px;
    margin-right:10px
}
.icon{
    font-size: ;
    margin-right: 10px;
    font-size: 20px;
    
}
img>h1{
    margin-top: px;
}
.div{
    background-color: rgb(231, 181, 181);
    height: 900px;
    width: 22%;
    border-top-left-radius: 30px;
    
}
h1{
    text-decoration: underline;
}
.container{
    display: flex;
    background-color: 
    

}
.text>h1{
    text-align: center ;
    background-color: rgb(175, 155, 155);
    height: ;;
    
    
}
.text>p{
    text-align: center ;
    
}
.text2>h1{
    background-color: rgb(175, 155, 155); ;
}
.text{
    background-color: rgb(185, 94, 94)
}
